.login{
    width: 400px;
    height: 540px;
    color: black;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    display: flex;
    
    
}
.wow{

    background-image: linear-gradient(white ,rgb(175, 215, 232));
    height: 87.3vh;
}
body{
    font-family: Segoe UI;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    height: 100vh;
    background-size:contain;
    
}
header{
    background-color: white;
    display: flex;
    position: sticky;
    top: 0px;
    height: 15.5vh;
    display: flex;
}
.login form{
    box-sizing: border-box;
    box-shadow: 0px 0px 6px black;
    padding: 40px;
    padding-top:30px;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    background-color: white;
    border: none;

}
h1{
    font-weight: normal;
    color: black;
    font-size: 24px;
    text-shadow: 0px 0px 2px black;
    margin-top: 10px;
    margin-bottom: 40px;
}
label{
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    padding-left: 10px;
}
input{
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    color: black;
}
.col-12 button{
    height: 40px;
    margin: 10px 0px;
    text-transform: uppercase;
    
}
#student{
    border-radius: 50%;
    height: 98px;
    width: 98px;
    align-self: center;
}


.ancor{
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight:300;
}

.col-12{
    display: flex;
    flex-direction: column;

}
.a1{
    text-decoration: none;
    font-weight: 700;      
    font-size: large;
}
.session{
    display: flex;
    gap: 1rem;
}



@media (max-width: 576px) {
    .login {
        width: 90%; 
        height: auto;
        padding: 20px; 
    }
    form {
        padding: 20px; 
    }
    h1 {
        font-size: 20px; 
        margin-bottom: 40px; 
    }
    input,
    select,
    button {
        font-size: 14px; 
    }
}


/* @media (min-width: 768px and max-width: ) {
    .wow {
        height: 80vh; 
        }
} */

/* nav */
.bg-light{
    background-color: white !important;
  }
  h5 image{
    height: 80px;
  }
  .offcanvas{
    max-width: 300px;
    
  }
  .offcanvas-body .navbar-nav{
    flex-direction: column !important;
  }
  .offcanvas-header{
    
    padding-bottom:0px !important ;
    
  }
  .flex-grow-1{
    flex-grow: 0 !important;
  }
  .background{
    background-image: linear-gradient(white, rgb(145, 202, 226));
    height: 100vh;
  }
  nav{
    height:100px;
  }
  .image{
    height: 90px ;
  }
  .navbar-nav {
    flex-direction: row !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .nav-item{
    margin-right: 30px;
    font-weight: 600;
    font-size: large;
  }
  button{
    margin-right:30px ;
    /* border-radius: 10% !important; */
    height: fit-content;
  }
  button .nav-item{
    margin-right: 0;
  }
  .offcanvas-body{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .logout{
    margin-top: 50px !important;
    border:1px solid  white;
    border-radius:10% ;
    background-color: white;
    height: 3rem;
    color: white !important;
    align-self: center;
    
   
  
  }
  
  @media (min-width:750px){
    .navbar-toggler {
      display: none !important;
    }
  }
  @media (max-width:750px){
    .navitems {
      display: none !important;
    }
  }